body {
  background-image: url("./assets/WideBG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.custom-btn {
  background-color: #000;
  color: #00ff33;
  border: 2px solid #00ff33;
  border-radius: 0;
  font-family: pixelmplus12-regular, sans-serif;
}

.custom-btn:hover,
.custom-btn:focus,
.custom-btn.dropdown-toggle {
  background-color: #000;
  border: 2px solid #00ff33;
  color: #00ff33;
}

.custom-btn:active,
.custom-btn.active,
.custom-btn:focus-visible {
  background-color: #00ff33 !important;
  color: #000 !important;
  border-color: #00ff33 !important;
}

.intro {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo-container {
  width: min(36vw);
}

.logo-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 0 15px #22ff00bf);
}

.glow {
  font-family: pixelmplus12-regular;
  color: #00ff33;
  text-shadow:
    0 0 0.2px #fff,
    0 0 12px #00d82b,
    0 0 50px #00d82b;
  text-align: center;
  font-size: 2rem;
}

.glow:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 0.9em;
  background-color: #00ff33;
  vertical-align: middle;
  margin-left: 4px;
  margin-bottom: 4px;
  animation: blink-caret 1.1s steps(2, start) infinite;
}

@keyframes blink-caret {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: #00ff33;
  }
}
